<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="./css/code.css">
<!-- code页面的 下面的引入有木有都无关首页展示 -->
<script type="text/javascript" src="./js/angular.min.js"></script>
<script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="./js/code.js"></script>

<title>code</title>
</head>
<body>
	<div id="jqhead">
		<h2>code show time</h2>
	</div>
	<div id="drap">
		<div id="jq-content">
			<ul id="jqbody-menu">
				<li ng-repeat="x in list" class="leftNavi"><a ng-click="codeToLink(this)" ng-href="{{x.link}}">{{x.field}}</a></li>
			</ul>
			<div id="jqbody-content">
				<div class='body-wrap'>
				<table class='hovertable'>
						<tr>
							<th>ID</th>
							<th>Title</th>
							<th>题解</th>
							<th>备注</th>
						</tr>
						<tr ng-repeat='x in hubs' onmouseover="tr_m_over(this)" onmouseout="tr_m_out(this)">
							<td>{{x.ID}}</td>
							<td>{{x.title}}</td>
							<td ng-repeat='y in x.language'>
								<a ng-href="{{x.link[y]}}" target="new">{{y}}</a>
							</td>
							<td>{{x.remarks}}</td>
						</tr>
						
					</table>
					<pre id="showc" class="pre-scrollable">
						{{codes}}
					</pre>
				</div>
			</div>
		</div>
	</div>
	<!--<div id="jqfoot">Foot</div>-->
</body>
</html>