@CHARSET "UTF-8";



#canvas {
	cursor: crosshair;
	display: block;
}

.alert-black {
  color: #000000;
  background-color: #ffffff;
  border-color: #dddddd;
}

p.lgcenter {
	text-align:center;
	font-size:1.1em;
}

.carousel-img{
	width:960px !important
	height:470px !important
}

.padding-3{
	padding:3rem;
}

.padding-2{
	padding:2rem;
}

.padding-1{
	padding:1rem;
}