/* ================
// Settings
// ============= */
/* ================
// Love Letters
// ============= */
.love {
  position: relative;
  margin-bottom: 6em;
  padding-top: 4em;
  text-align: center; }
  @media (min-width: 600px) {
    .love {
      left: 50%;
      margin-bottom: 0;
      margin-left: -9.375em;
      padding-top: 10em;
      transform: translate(-50%, 0); } }

.letter {
  display: inline-block;
  top: 0;
  left: 0;
  display: inline-block;
  font-size: 4vmin;
  text-shadow: 0 0 .25em red, 0 0 .35em red, 0 0 .45em transparent, 0 0 .55em transparent, 0 0 .65em transparent; }
  @media (min-width: 600px) {
    .letter {
      motion-offset: 0;
      motion-path: path("m0, 0 c100, -150 200, -150 300, 0");
      offset-path: path("m0, 0 c100, -150 200, -150 300, 0"); } }
  .letter:nth-child(1) {
    animation: twinkle 2.7s infinite 2.1s;
    motion-offset: 5.55556%; }
  .letter:nth-child(2) {
    animation: twinkle 2.7s infinite 1.95s;
    motion-offset: 11.11111%; }
  .letter:nth-child(3) {
    animation: twinkle 2.7s infinite 2.4s;
    motion-offset: 16.66667%; }
  .letter:nth-child(4) {
    animation: twinkle 2.7s infinite 0.3s;
    motion-offset: 22.22222%; }
  .letter:nth-child(5) {
    animation: twinkle 2.7s infinite 2.1s;
    motion-offset: 27.77778%; }
  .letter:nth-child(6) {
    animation: twinkle 2.7s infinite 0.45s;
    motion-offset: 33.33333%; }
  .letter:nth-child(7) {
    animation: twinkle 2.7s infinite 0.9s;
    motion-offset: 38.88889%; }
  .letter:nth-child(8) {
    animation: twinkle 2.7s infinite 2.25s;
    motion-offset: 44.44444%; }
  .letter:nth-child(9) {
    animation: twinkle 2.7s infinite 1.05s;
    motion-offset: 50%; }
  .letter:nth-child(10) {
    animation: twinkle 2.7s infinite 1.95s;
    motion-offset: 55.55556%; }
  .letter:nth-child(11) {
    animation: twinkle 2.7s infinite 0.9s;
    motion-offset: 61.11111%; }
  .letter:nth-child(12) {
    animation: twinkle 2.7s infinite 1.5s;
    motion-offset: 66.66667%; }
  .letter:nth-child(13) {
    animation: twinkle 2.7s infinite 1.95s;
    motion-offset: 72.22222%; }
  .letter:nth-child(14) {
    animation: twinkle 2.7s infinite 1.2s;
    motion-offset: 77.77778%; }
  .letter:nth-child(15) {
    animation: twinkle 2.7s infinite 0.6s;
    motion-offset: 83.33333%; }
  .letter:nth-child(16) {
    animation: twinkle 2.7s infinite 2.7s;
    motion-offset: 88.88889%; }
  .letter:nth-child(17) {
    animation: twinkle 2.7s infinite 0.15s;
    motion-offset: 94.44444%; }
  .letter:nth-child(18) {
    animation: twinkle 2.7s infinite 0.75s;
    motion-offset: 100%; }
  .letter:empty {
    padding: 0 .2em; }

@keyframes twinkle {
  50% {
    text-shadow: 0 0 .25em red, 0 0 .35em red, 0 0 .45em red, 0 0 .55em red, 0 0 .65em red; } }
/* ================
// Roses
// ============= */
.roses {
  position: relative;
  height: 50vmin;
  width: 100%;
  animation: grow 10s forwards;
  transform: rotate(-180deg); }

@keyframes grow {
  100% {
    transform: rotate(15deg); } }
.rose {
  position: absolute;
  top: 50%;
  left: 50%;
  perspective: 50em;
  transform: translate(-50%, -50%) rotate(-25deg);
  transform-style: preserve-3d; }
  .rose:nth-child(1) {
    z-index: 6;
    height: 8.05vmin;
    width: 8.05vmin; }
  .rose:nth-child(2) {
    z-index: 5;
    height: 12.25vmin;
    width: 12.25vmin; }
  .rose:nth-child(3) {
    z-index: 4;
    height: 13.9vmin;
    width: 13.9vmin; }
  .rose:nth-child(4) {
    z-index: 3;
    height: 19.1vmin;
    width: 19.1vmin; }
  .rose:nth-child(5) {
    z-index: 2;
    height: 21.95vmin;
    width: 21.95vmin; }
  .rose:nth-child(6) {
    z-index: 1;
    height: 26.4vmin;
    width: 26.4vmin; }
  .rose:nth-child(7) {
    z-index: 0;
    height: 32.85vmin;
    width: 32.85vmin; }

.pedal {
  position: absolute;
  bottom: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform-origin: center 100%; }
  .pedal:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    border-radius: .35em 50% 35% 50%;
    transform: rotate(45deg); }
  .pedal:nth-child(1) {
    transform: translate(-50%, 0) rotateZ(51.42857deg) rotateX(-70deg) rotateY(8deg) scale(0); }
  .rose:nth-child(1) .pedal:nth-child(1) {
    animation: flower-1 10s forwards 2.7s; }
    .rose:nth-child(1) .pedal:nth-child(1):before {
      background: #9b0000; }
  .rose:nth-child(1) .pedal:nth-child(2) {
    animation: flower-2 10s forwards 2.7s; }
    .rose:nth-child(1) .pedal:nth-child(2):before {
      background: #b80000; }
  .rose:nth-child(1) .pedal:nth-child(3) {
    animation: flower-3 10s forwards 2.7s; }
    .rose:nth-child(1) .pedal:nth-child(3):before {
      background: #b70000; }
  .rose:nth-child(1) .pedal:nth-child(4) {
    animation: flower-4 10s forwards 2.7s; }
    .rose:nth-child(1) .pedal:nth-child(4):before {
      background: #fc0000; }
  .rose:nth-child(1) .pedal:nth-child(5) {
    animation: flower-5 10s forwards 2.7s; }
    .rose:nth-child(1) .pedal:nth-child(5):before {
      background: #c90000; }
  .rose:nth-child(1) .pedal:nth-child(6) {
    animation: flower-6 10s forwards 2.7s; }
    .rose:nth-child(1) .pedal:nth-child(6):before {
      background: #e20000; }
  .rose:nth-child(1) .pedal:nth-child(7) {
    animation: flower-7 10s forwards 2.7s; }
    .rose:nth-child(1) .pedal:nth-child(7):before {
      background: #b00000; }
  .pedal:nth-child(2) {
    transform: translate(-50%, 0) rotateZ(102.85714deg) rotateX(-70deg) rotateY(8deg) scale(0); }
  .rose:nth-child(2) .pedal:nth-child(1) {
    animation: flower-1 10s forwards 2.25s; }
    .rose:nth-child(2) .pedal:nth-child(1):before {
      background: #dc0000; }
  .rose:nth-child(2) .pedal:nth-child(2) {
    animation: flower-2 10s forwards 2.25s; }
    .rose:nth-child(2) .pedal:nth-child(2):before {
      background: #e90000; }
  .rose:nth-child(2) .pedal:nth-child(3) {
    animation: flower-3 10s forwards 2.25s; }
    .rose:nth-child(2) .pedal:nth-child(3):before {
      background: #df0000; }
  .rose:nth-child(2) .pedal:nth-child(4) {
    animation: flower-4 10s forwards 2.25s; }
    .rose:nth-child(2) .pedal:nth-child(4):before {
      background: #ba0000; }
  .rose:nth-child(2) .pedal:nth-child(5) {
    animation: flower-5 10s forwards 2.25s; }
    .rose:nth-child(2) .pedal:nth-child(5):before {
      background: #b70000; }
  .rose:nth-child(2) .pedal:nth-child(6) {
    animation: flower-6 10s forwards 2.25s; }
    .rose:nth-child(2) .pedal:nth-child(6):before {
      background: #970000; }
  .rose:nth-child(2) .pedal:nth-child(7) {
    animation: flower-7 10s forwards 2.25s; }
    .rose:nth-child(2) .pedal:nth-child(7):before {
      background: #fc0000; }
  .pedal:nth-child(3) {
    transform: translate(-50%, 0) rotateZ(154.28571deg) rotateX(-70deg) rotateY(8deg) scale(0); }
  .rose:nth-child(3) .pedal:nth-child(1) {
    animation: flower-1 10s forwards 1.8s; }
    .rose:nth-child(3) .pedal:nth-child(1):before {
      background: #e20000; }
  .rose:nth-child(3) .pedal:nth-child(2) {
    animation: flower-2 10s forwards 1.8s; }
    .rose:nth-child(3) .pedal:nth-child(2):before {
      background: #d80000; }
  .rose:nth-child(3) .pedal:nth-child(3) {
    animation: flower-3 10s forwards 1.8s; }
    .rose:nth-child(3) .pedal:nth-child(3):before {
      background: #e50000; }
  .rose:nth-child(3) .pedal:nth-child(4) {
    animation: flower-4 10s forwards 1.8s; }
    .rose:nth-child(3) .pedal:nth-child(4):before {
      background: #b00000; }
  .rose:nth-child(3) .pedal:nth-child(5) {
    animation: flower-5 10s forwards 1.8s; }
    .rose:nth-child(3) .pedal:nth-child(5):before {
      background: #c70000; }
  .rose:nth-child(3) .pedal:nth-child(6) {
    animation: flower-6 10s forwards 1.8s; }
    .rose:nth-child(3) .pedal:nth-child(6):before {
      background: #f80000; }
  .rose:nth-child(3) .pedal:nth-child(7) {
    animation: flower-7 10s forwards 1.8s; }
    .rose:nth-child(3) .pedal:nth-child(7):before {
      background: #b40000; }
  .pedal:nth-child(4) {
    transform: translate(-50%, 0) rotateZ(205.71429deg) rotateX(-70deg) rotateY(8deg) scale(0); }
  .rose:nth-child(4) .pedal:nth-child(1) {
    animation: flower-1 10s forwards 1.35s; }
    .rose:nth-child(4) .pedal:nth-child(1):before {
      background: #9b0000; }
  .rose:nth-child(4) .pedal:nth-child(2) {
    animation: flower-2 10s forwards 1.35s; }
    .rose:nth-child(4) .pedal:nth-child(2):before {
      background: #d00000; }
  .rose:nth-child(4) .pedal:nth-child(3) {
    animation: flower-3 10s forwards 1.35s; }
    .rose:nth-child(4) .pedal:nth-child(3):before {
      background: #980000; }
  .rose:nth-child(4) .pedal:nth-child(4) {
    animation: flower-4 10s forwards 1.35s; }
    .rose:nth-child(4) .pedal:nth-child(4):before {
      background: #af0000; }
  .rose:nth-child(4) .pedal:nth-child(5) {
    animation: flower-5 10s forwards 1.35s; }
    .rose:nth-child(4) .pedal:nth-child(5):before {
      background: #ce0000; }
  .rose:nth-child(4) .pedal:nth-child(6) {
    animation: flower-6 10s forwards 1.35s; }
    .rose:nth-child(4) .pedal:nth-child(6):before {
      background: #a30000; }
  .rose:nth-child(4) .pedal:nth-child(7) {
    animation: flower-7 10s forwards 1.35s; }
    .rose:nth-child(4) .pedal:nth-child(7):before {
      background: #9f0000; }
  .pedal:nth-child(5) {
    transform: translate(-50%, 0) rotateZ(257.14286deg) rotateX(-70deg) rotateY(8deg) scale(0); }
  .rose:nth-child(5) .pedal:nth-child(1) {
    animation: flower-1 10s forwards 0.9s; }
    .rose:nth-child(5) .pedal:nth-child(1):before {
      background: #f70000; }
  .rose:nth-child(5) .pedal:nth-child(2) {
    animation: flower-2 10s forwards 0.9s; }
    .rose:nth-child(5) .pedal:nth-child(2):before {
      background: #a00000; }
  .rose:nth-child(5) .pedal:nth-child(3) {
    animation: flower-3 10s forwards 0.9s; }
    .rose:nth-child(5) .pedal:nth-child(3):before {
      background: #da0000; }
  .rose:nth-child(5) .pedal:nth-child(4) {
    animation: flower-4 10s forwards 0.9s; }
    .rose:nth-child(5) .pedal:nth-child(4):before {
      background: #fe0000; }
  .rose:nth-child(5) .pedal:nth-child(5) {
    animation: flower-5 10s forwards 0.9s; }
    .rose:nth-child(5) .pedal:nth-child(5):before {
      background: #b60000; }
  .rose:nth-child(5) .pedal:nth-child(6) {
    animation: flower-6 10s forwards 0.9s; }
    .rose:nth-child(5) .pedal:nth-child(6):before {
      background: #e70000; }
  .rose:nth-child(5) .pedal:nth-child(7) {
    animation: flower-7 10s forwards 0.9s; }
    .rose:nth-child(5) .pedal:nth-child(7):before {
      background: #f70000; }
  .pedal:nth-child(6) {
    transform: translate(-50%, 0) rotateZ(308.57143deg) rotateX(-70deg) rotateY(8deg) scale(0); }
  .rose:nth-child(6) .pedal:nth-child(1) {
    animation: flower-1 10s forwards 0.45s; }
    .rose:nth-child(6) .pedal:nth-child(1):before {
      background: #f40000; }
  .rose:nth-child(6) .pedal:nth-child(2) {
    animation: flower-2 10s forwards 0.45s; }
    .rose:nth-child(6) .pedal:nth-child(2):before {
      background: #e90000; }
  .rose:nth-child(6) .pedal:nth-child(3) {
    animation: flower-3 10s forwards 0.45s; }
    .rose:nth-child(6) .pedal:nth-child(3):before {
      background: #e00000; }
  .rose:nth-child(6) .pedal:nth-child(4) {
    animation: flower-4 10s forwards 0.45s; }
    .rose:nth-child(6) .pedal:nth-child(4):before {
      background: #b90000; }
  .rose:nth-child(6) .pedal:nth-child(5) {
    animation: flower-5 10s forwards 0.45s; }
    .rose:nth-child(6) .pedal:nth-child(5):before {
      background: #cd0000; }
  .rose:nth-child(6) .pedal:nth-child(6) {
    animation: flower-6 10s forwards 0.45s; }
    .rose:nth-child(6) .pedal:nth-child(6):before {
      background: #f50000; }
  .rose:nth-child(6) .pedal:nth-child(7) {
    animation: flower-7 10s forwards 0.45s; }
    .rose:nth-child(6) .pedal:nth-child(7):before {
      background: #f00000; }
  .pedal:nth-child(7) {
    transform: translate(-50%, 0) rotateZ(360deg) rotateX(-70deg) rotateY(8deg) scale(0); }
  .rose:nth-child(7) .pedal:nth-child(1) {
    animation: flower-1 10s forwards 0s; }
    .rose:nth-child(7) .pedal:nth-child(1):before {
      background: #9a0000; }
  .rose:nth-child(7) .pedal:nth-child(2) {
    animation: flower-2 10s forwards 0s; }
    .rose:nth-child(7) .pedal:nth-child(2):before {
      background: #a70000; }
  .rose:nth-child(7) .pedal:nth-child(3) {
    animation: flower-3 10s forwards 0s; }
    .rose:nth-child(7) .pedal:nth-child(3):before {
      background: #fd0000; }
  .rose:nth-child(7) .pedal:nth-child(4) {
    animation: flower-4 10s forwards 0s; }
    .rose:nth-child(7) .pedal:nth-child(4):before {
      background: #ea0000; }
  .rose:nth-child(7) .pedal:nth-child(5) {
    animation: flower-5 10s forwards 0s; }
    .rose:nth-child(7) .pedal:nth-child(5):before {
      background: #da0000; }
  .rose:nth-child(7) .pedal:nth-child(6) {
    animation: flower-6 10s forwards 0s; }
    .rose:nth-child(7) .pedal:nth-child(6):before {
      background: #e80000; }
  .rose:nth-child(7) .pedal:nth-child(7) {
    animation: flower-7 10s forwards 0s; }
    .rose:nth-child(7) .pedal:nth-child(7):before {
      background: #d30000; }

@keyframes flower-1 {
  100% {
    transform: translate(-50%, 0) rotateZ(51.42857deg) rotateX(0) rotateY(8deg) scale(1); } }
@keyframes flower-2 {
  100% {
    transform: translate(-50%, 0) rotateZ(102.85714deg) rotateX(0) rotateY(8deg) scale(1); } }
@keyframes flower-3 {
  100% {
    transform: translate(-50%, 0) rotateZ(154.28571deg) rotateX(0) rotateY(8deg) scale(1); } }
@keyframes flower-4 {
  100% {
    transform: translate(-50%, 0) rotateZ(205.71429deg) rotateX(0) rotateY(8deg) scale(1); } }
@keyframes flower-5 {
  100% {
    transform: translate(-50%, 0) rotateZ(257.14286deg) rotateX(0) rotateY(8deg) scale(1); } }
@keyframes flower-6 {
  100% {
    transform: translate(-50%, 0) rotateZ(308.57143deg) rotateX(0) rotateY(8deg) scale(1); } }
@keyframes flower-7 {
  100% {
    transform: translate(-50%, 0) rotateZ(360deg) rotateX(0) rotateY(8deg) scale(1); } }
/* ================
// Bursts
// ============= */
.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none; }

.bubble {
  position: absolute;
  z-index: 200;
  border-radius: 50%; }
  .bubble:nth-child(1) {
    top: 12%;
    left: 6%;
    height: 20vmin;
    width: 20vmin;
    animation: love-burst 3s infinite 0s;
    box-shadow: inset 0 0 0 10vmin #fff;
    transform: translate(0, 0.45em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(2) {
    top: 99%;
    left: 6%;
    height: 17vmin;
    width: 17vmin;
    animation: love-burst 3s infinite 0.15s;
    box-shadow: inset 0 0 0 8.5vmin #fff;
    transform: translate(0, 0.15em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(3) {
    top: 20%;
    left: 73%;
    height: 8vmin;
    width: 8vmin;
    animation: love-burst 3s infinite 0.3s;
    box-shadow: inset 0 0 0 4vmin #fff;
    transform: translate(0, 0.35em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(4) {
    top: 34%;
    left: 10%;
    height: 2vmin;
    width: 2vmin;
    animation: love-burst 3s infinite 0.45s;
    box-shadow: inset 0 0 0 1vmin #fff;
    transform: translate(0, 0.25em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(5) {
    top: 18%;
    left: 57%;
    height: 12vmin;
    width: 12vmin;
    animation: love-burst 3s infinite 0.6s;
    box-shadow: inset 0 0 0 6vmin #fff;
    transform: translate(0, 0.65em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(6) {
    top: 86%;
    left: 51%;
    height: 5vmin;
    width: 5vmin;
    animation: love-burst 3s infinite 0.75s;
    box-shadow: inset 0 0 0 2.5vmin #fff;
    transform: translate(0, 1.25em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(7) {
    top: 25%;
    left: 64%;
    height: 13vmin;
    width: 13vmin;
    animation: love-burst 3s infinite 0.9s;
    box-shadow: inset 0 0 0 6.5vmin #fff;
    transform: translate(0, 0.95em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(8) {
    top: 91%;
    left: 99%;
    height: 16vmin;
    width: 16vmin;
    animation: love-burst 3s infinite 1.05s;
    box-shadow: inset 0 0 0 8vmin #fff;
    transform: translate(0, 1.25em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(9) {
    top: 16%;
    left: 94%;
    height: 7vmin;
    width: 7vmin;
    animation: love-burst 3s infinite 1.2s;
    box-shadow: inset 0 0 0 3.5vmin #fff;
    transform: translate(0, 0.25em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(10) {
    top: 95%;
    left: 29%;
    height: 12vmin;
    width: 12vmin;
    animation: love-burst 3s infinite 1.35s;
    box-shadow: inset 0 0 0 6vmin #fff;
    transform: translate(0, 0.6em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(11) {
    top: 9%;
    left: 75%;
    height: 2vmin;
    width: 2vmin;
    animation: love-burst 3s infinite 1.5s;
    box-shadow: inset 0 0 0 1vmin #fff;
    transform: translate(0, 0.15em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(12) {
    top: 14%;
    left: 87%;
    height: 3vmin;
    width: 3vmin;
    animation: love-burst 3s infinite 1.65s;
    box-shadow: inset 0 0 0 1.5vmin #fff;
    transform: translate(0, 0.8em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(13) {
    top: 97%;
    left: 43%;
    height: 10vmin;
    width: 10vmin;
    animation: love-burst 3s infinite 1.8s;
    box-shadow: inset 0 0 0 5vmin #fff;
    transform: translate(0, 0.85em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(14) {
    top: 91%;
    left: 93%;
    height: 8vmin;
    width: 8vmin;
    animation: love-burst 3s infinite 1.95s;
    box-shadow: inset 0 0 0 4vmin #fff;
    transform: translate(0, 0.3em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(15) {
    top: 67%;
    left: 98%;
    height: 1vmin;
    width: 1vmin;
    animation: love-burst 3s infinite 2.1s;
    box-shadow: inset 0 0 0 0.5vmin #fff;
    transform: translate(0, 0.1em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(16) {
    top: 84%;
    left: 91%;
    height: 12vmin;
    width: 12vmin;
    animation: love-burst 3s infinite 2.25s;
    box-shadow: inset 0 0 0 6vmin #fff;
    transform: translate(0, 1.25em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(17) {
    top: 83%;
    left: 76%;
    height: 18vmin;
    width: 18vmin;
    animation: love-burst 3s infinite 2.4s;
    box-shadow: inset 0 0 0 9vmin #fff;
    transform: translate(0, 0.6em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(18) {
    top: 83%;
    left: 4%;
    height: 3vmin;
    width: 3vmin;
    animation: love-burst 3s infinite 2.55s;
    box-shadow: inset 0 0 0 1.5vmin #fff;
    transform: translate(0, 0.35em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(19) {
    top: 17%;
    left: 99%;
    height: 18vmin;
    width: 18vmin;
    animation: love-burst 3s infinite 2.7s;
    box-shadow: inset 0 0 0 9vmin #fff;
    transform: translate(0, 0.55em) scale(0);
    transform-origin: center bottom; }
  .bubble:nth-child(20) {
    top: 63%;
    left: 35%;
    height: 11vmin;
    width: 11vmin;
    animation: love-burst 3s infinite 2.85s;
    box-shadow: inset 0 0 0 5.5vmin #fff;
    transform: translate(0, 0.4em) scale(0);
    transform-origin: center bottom; }

@keyframes love-burst {
  50%,
    100% {
    box-shadow: inset 0 0 0 0 red;
    transform: translate(0, 0) scale(1); } }
.heart {
  fill: #fff;
  opacity: 0; }
  .bubble:nth-child(1) .heart {
    animation: love 3s forwards infinite 0s;
    transform: scale(0.5) rotate(-19deg); }
  .bubble:nth-child(2) .heart {
    animation: love 3s forwards infinite 0.15s;
    transform: scale(0.5) rotate(29deg); }
  .bubble:nth-child(3) .heart {
    animation: love 3s forwards infinite 0.3s;
    transform: scale(0.5) rotate(-1deg); }
  .bubble:nth-child(4) .heart {
    animation: love 3s forwards infinite 0.45s;
    transform: scale(0.5) rotate(46deg); }
  .bubble:nth-child(5) .heart {
    animation: love 3s forwards infinite 0.6s;
    transform: scale(0.5) rotate(-24deg); }
  .bubble:nth-child(6) .heart {
    animation: love 3s forwards infinite 0.75s;
    transform: scale(0.5) rotate(23deg); }
  .bubble:nth-child(7) .heart {
    animation: love 3s forwards infinite 0.9s;
    transform: scale(0.5) rotate(-32deg); }
  .bubble:nth-child(8) .heart {
    animation: love 3s forwards infinite 1.05s;
    transform: scale(0.5) rotate(3deg); }
  .bubble:nth-child(9) .heart {
    animation: love 3s forwards infinite 1.2s;
    transform: scale(0.5) rotate(-21deg); }
  .bubble:nth-child(10) .heart {
    animation: love 3s forwards infinite 1.35s;
    transform: scale(0.5) rotate(24deg); }
  .bubble:nth-child(11) .heart {
    animation: love 3s forwards infinite 1.5s;
    transform: scale(0.5) rotate(-11deg); }
  .bubble:nth-child(12) .heart {
    animation: love 3s forwards infinite 1.65s;
    transform: scale(0.5) rotate(37deg); }
  .bubble:nth-child(13) .heart {
    animation: love 3s forwards infinite 1.8s;
    transform: scale(0.5) rotate(-21deg); }
  .bubble:nth-child(14) .heart {
    animation: love 3s forwards infinite 1.95s;
    transform: scale(0.5) rotate(45deg); }
  .bubble:nth-child(15) .heart {
    animation: love 3s forwards infinite 2.1s;
    transform: scale(0.5) rotate(-21deg); }
  .bubble:nth-child(16) .heart {
    animation: love 3s forwards infinite 2.25s;
    transform: scale(0.5) rotate(6deg); }
  .bubble:nth-child(17) .heart {
    animation: love 3s forwards infinite 2.4s;
    transform: scale(0.5) rotate(-9deg); }
  .bubble:nth-child(18) .heart {
    animation: love 3s forwards infinite 2.55s;
    transform: scale(0.5) rotate(46deg); }
  .bubble:nth-child(19) .heart {
    animation: love 3s forwards infinite 2.7s;
    transform: scale(0.5) rotate(-1deg); }
  .bubble:nth-child(20) .heart {
    animation: love 3s forwards infinite 2.85s;
    transform: scale(0.5) rotate(20deg); }

@keyframes love {
  50% {
    fill: red;
    opacity: 1; } }
/* ================
// Structure
// ============= */
html,
body {
  height: 100%; }

html {
  overflow: hidden;
  font-family: 'Petit Formal Script';
  background: radial-gradient(ellipse at center, #051838, #0A093B 100%);
  color: #fff; }

