/* CSS Document */

body{
	background:#FFFEE3;	
	width:100%;
	height:100%;
}

<!--导航条动画的css-->
#panel,#flip
{
	padding:5px;
	text-align:center;
	color:#40224D;
	background-color:#e5eecc;
	border:solid 1px #c3c3c3;
}
#panel
{
	padding:50px;
	display:none;
	text-align:center;
	background-color:#e5eecc;
	border:solid 1px #c3c3c3;


}
<!--导航条的li的样式，li里面主要放链接-->
ul.navi,li.navi{
	float:center; 
	display:inline;
	list-style-type:none;
	width:100px; 
	height:45px; 
	background:#e5eecc; 
	line-height:30px;
	text-align:center; 
	margin-right:50px; 

}
<!--这里放的是导航链接样式-->
.center
{
	margin:auto;
	width:70%;
	background-color:#b0e0e6;
}
a:link,a:visited{
	font-size:1.2em;
	text-decoration:none;
	text-shadow: 1px 1px #ffff00;
	color:#000000;
}

a:HOVER {
	background-color: #b0e0e6;
}



