/* CSS Document */

body{
	background-color: #fcf8e3;
 	border-color: #faebcc;
	width:100%;
	height:100%;
}



.navbar-phone{
	 background-color: #ece1cc;
	 border-color: #e9dcc5;
}

.main-phone-bar{
	float:none;
	border-bottom:1px solid #ccc;
	font-size: 1rem;
	font-size: 1.2rem;
}

.main-sm-bar{
	float:right !important;
	padding-top:0.36rem;
	border-bottom:1px solid #ccc;
	font-size: 1rem;
	font-size: 1.2rem;
}

.icon-bar-my {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

<!--导航条动画的css-->
#panel,#flip
{
	padding:5px;
	text-align:center;
	color:#40224D;
	background-color:#e9cea7;
	border:solid 1px #c3c3c3;
}
#panel
{
	padding:50px;
	display:none;
	text-align:center;
	background-color:#e9cea7;
	border:solid 1px #c3c3c3;


}
<!--导航条的li的样式，li里面主要放链接-->
ul.navi,li.navi{
	display:inline;
	list-style-type:none;
	height:45px; 
	background:#e9cea7; 
	margin-right:50px; 

}
<!--这里放的是导航链接样式-->
.center
{
	margin:auto;
	width:70%;
	background-color:#b0e0e6;
}

.Glow a:link,.Glow a:visited{
	font-size:1.2em;
	text-decoration:none;
	text-shadow: 1px 1px #ffff00;
	color:#000000;
}

.Glow a:HOVER {
	background-color: #b0e0e6;
}



